name: "CI"
on:
  # Run only when pushing to master branch, and making PRs
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v33
      - name: Install omnix
        run: | 
          nix --accept-flake-config profile install "github:juspay/omnix"
          nix --version
      - name: Build all flake outputs
        run: om ci
      - name: What GHC version?
        run: nix develop -c ghc --version
